@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - El Huerto del Valle</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                @if (SignInManager.IsSignedIn(User)){
                    @if(UserManager.GetUserName(User).Equals("erik_espinoza_mendoza@hotmail.com")){
                        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="IndexNC"><img src="https://www.elhuertodelvalle.com/wp-content/uploads/2021/05/logo-890x1024.png" alt="" style="width: 70px; height:70px ;"></a>
                    }else{
                        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="https://www.elhuertodelvalle.com/wp-content/uploads/2021/05/logo-890x1024.png" alt="" style="width: 70px; height:70px ;"></a>
                    }
                }else{
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="https://www.elhuertodelvalle.com/wp-content/uploads/2021/05/logo-890x1024.png" alt="" style="width: 70px; height:70px ;"></a>
                    
                }
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (SignInManager.IsSignedIn(User))
{

    @if(UserManager.GetUserName(User).Equals("erik_espinoza_mendoza@hotmail.com")){
        
        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Producto">Agregar Producto</a>
                        </li>
        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="HuertodelValle">Productos</a>
                        </li>
        <li class="nav-item">
                             <a class="nav-link text-dark" asp-area="" asp-controller="Consulta" asp-action="Consultas">Consultas</a>
                        </li>
        <li class="nav-item">
                             <a class="nav-link text-dark" asp-area="" asp-controller="Reclamo" asp-action="Reclamos">Reclamos</a>
                        </li>
        <li class="nav-item">
                             <a class="nav-link text-dark" asp-area="" asp-controller="Pago" asp-action="Pagos">Clientes</a>
                        </li>
                      
    }else{
        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="HuertodelValle">Productos</a>
    </li>
        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="MostrarProforma">Carrito</a>
                        </li>
    <li class="nav-item">
                             <a class="nav-link text-dark" asp-area="" asp-controller="Reclamo" asp-action="Reclamo">Realizar Reclamo</a>
                        </li>
    }
}else{
    <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="HuertodelValle">Productos</a>
                          
    </li>
    <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="QuienesSomos">Quienes Somos</a>
                          
    </li>
    <li class="nav-item">
                             <a class="nav-link text-dark" asp-area="" asp-controller="Consulta" asp-action="Consulta">Contáctanos</a>
                        </li>
}

                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    
    <section class="">
        
  <!-- Footer -->
  <footer class="bg-secondary text-white">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">NOSOTROS</h5>

          <p>
            El Huerto del Valle es una empresa dedicada a la venta de frutos secos y derivados.
Actualmente están ubicados en el distrito de San Borja donde realizan envíos y ventas en locales autorizados.
Asimismo, tienen una presencia en redes sociales (Facebook e Instagram) considerables.


          </p>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-0">Redes Sociales</h5>

          <ul class="list-unstyled">
                    <li class="d-flex justify-content-between">
                        <a href="https://www.facebook.com/elhuertodelvalle" class="text-reset">
                            <img src="/img/facebook.png" alt="Logo huerto" class="img-logo" style="width: 40px; height:40px ;">
                            Facebook
                        </a>
                    </li>
                    <p>_________________</p>
                    <li>
                        <a href="https://www.instagram.com/huertodelvalle/?hl=es" class="text-reset">
                            <img src="/img/instagram.png" alt="Logo huerto" class="img-logo" style="width: 40px; height:40px ;">
                            Instagram
                        </a>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2021 Copyright:
      <a class="text-white" asp-controller="Home" asp-action="Index">Huerto_del_valle.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</section>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>