@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - El Huerto del Valle</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                @if (SignInManager.IsSignedIn(User)){
                    @if(UserManager.GetUserName(User).Equals("erik_espinoza_mendoza@hotmail.com")){
                        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="IndexNC">El Huerto del Valle</a>
                    }else{
                        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">El Huerto del Valle</a>
                    }
                }else{
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">El Huerto del Valle</a>
                    
                }
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (SignInManager.IsSignedIn(User))
{

    @if(UserManager.GetUserName(User).Equals("erik_espinoza_mendoza@hotmail.com")){
        
        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Producto">Agregar Producto</a>
                        </li>
        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="HuertodelValle">Productos</a>
                        </li>
        <li class="nav-item">
                             <a class="nav-link text-dark" asp-area="" asp-controller="Consulta" asp-action="Consultas">Consultas</a>
                        </li>
        <li class="nav-item">
                             <a class="nav-link text-dark" asp-area="" asp-controller="Reclamo" asp-action="Reclamos">Reclamos</a>
                        </li>
        <li class="nav-item">
                             <a class="nav-link text-dark" asp-area="" asp-controller="Pago" asp-action="Pagos">Pedidos</a>
                        </li>
    }else{
        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="HuertodelValle">Productos</a>
    </li>
        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="MostrarProforma">Carrito</a>
                        </li>
    <li class="nav-item">
                             <a class="nav-link text-dark" asp-area="" asp-controller="Reclamo" asp-action="Reclamo">Realizar Reclamo</a>
                        </li>
    }
}else{
    <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="HuertodelValle">Productos</a>
                          
    </li>
    <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="QuienesSomos">Quienes Somos</a>
                          
    </li>
    <li class="nav-item">
                             <a class="nav-link text-dark" asp-area="" asp-controller="Consulta" asp-action="Consulta">Contáctanos</a>
                        </li>
}

                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - El Huerto del Valle
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>