<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HUERTO_DEL_VALLE</title>
      <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
      <link rel="stylesheet" href="~/css/site.css" />
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/animate.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/font-awesome.min.css">
    <link href="~/lib/bootstrap/dist/css/animate.min.css" rel="stylesheet">
    <link href="~/lib/bootstrap/dist/css/style.css" rel="stylesheet" />
  
</head>
<body>
     <header id="header">
    <nav class="navbar navbar-default navbar-static-top" role="banner">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
          <div class="navbar-brand">
            <a href="index.html"><h1>Huerto del Valle</h1></a>
          </div>
        </div>
        <div class="navbar-collapse collapse">
          <div class="menu">
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation"><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a></li>
               <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="IniciarSesion">Iniciar Sesion</a>
                        </li>
              <li role="presentation"><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Nosotros">Nosotros</a></li>
              <li role="presentation"><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Contacto">Contacto</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!--/.container-->
    </nav>
    <!--/nav-->
  </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
            </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; Huerto del Valle <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>