@{
    ViewData["Title"] = "Nosotros";
}

<div class="text-center">
    <h1 class="display-4"><b>Nosotros</b></h1>
    <img src="https://scontent.flim18-2.fna.fbcdn.net/v/t1.6435-9/88064315_1555739631242230_8960099006990516224_n.jpg?_nc_cat=111&ccb=1-3&_nc_sid=e3f864&_nc_eui2=AeEh3KubddzzSZzTXZHtNT75L3AdrpgPOHYvcB2umA84djMnMBh9eKoGoNcJaNFN1ezBDVH4fIGKb0SinT33w61z&_nc_ohc=MAL5GN7ohfsAX_IwLPD&_nc_oc=AQk0WXhEYJ8rhEPr19rtAI-JD3vZz0g01cgXDe3SydwUB1f9a9ZmOCJAoSfsxS77oZk&_nc_ht=scontent.flim18-2.fna&oh=1c21a45edd298c88be5e78ca6c6138f0&oe=60B9AB88" class="d-block w-100" alt="plantitas" width="1200px" height="450px">
    <h2><br><b>Nosotros</b></br></h2>
    <p>El Huerto del Valle es una empresa dedicada a la venta de frutos secos y derivados. <br>Actualmente están ubicados en el distrito de San Borja donde realizan envíos y ventas en locales autorizados.</br> Asimismo, tienen una presencia en redes sociales (Facebook e Instagram) considerables.  </p>
    <br></br>
    <img src="https://scontent.flim12-1.fna.fbcdn.net/v/t1.6435-9/120066765_1740544656095059_2553446342583397674_n.jpg?_nc_cat=106&ccb=1-3&_nc_sid=e3f864&_nc_ohc=KxyEjub_WdwAX8obRbv&_nc_ht=scontent.flim12-1.fna&oh=5b6836a187d934d4bc4214c55dc24a09&oe=60BBCCBC" class="d-block w-80" alt="frutas" width="1000px" height="400px">
</div>
