@{
    ViewData["Title"] = "Nosotros";
}

<div class="text-center">
    <h1 class="display-4">Nosotros</h1>
    
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. A enim vitae, sit ut et euismod id eleifend ut.
    Venenatis egestas feugiat odio auctor. Arcu consequat velit, et iaculis risus arcu amet arcu porttitor. Varius consectetur suscipit metus ac elementum lacinia.</p>
</div>
